
body {
  position: relative;;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: auto;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  position: relative;
  clear: left;
}

.row.hidden {
  display: none;
}

.center {
  text-align: center;
}

.centered {
  margin: 0 auto;
  display: inline-block;
}

.box {
  margin: 10px;
  border: 1px solid #eee;
  padding: 5px;
}

.clearfix {
  overflow: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

#loginform {
  display: inline-block;
  margin: 0 auto;
}

#errors {
  font-weight: bold;
  color: red;
}


div.busy {
  height:100%;
  position:relative;
  margin:0 auto;
  overflow:hidden;
}

div.busy img {
  position:absolute;
  top:50%;
  margin-top:-8px;
}
