
#checkpointlist {
  font-weight: bold;
  font-size: 2em;
}

#checkpointlist .massstart {
  font-size: 1em;
}

.courserow:nth-child(even) {
  background-color: #eee;
}

.ready {
  color: green;
}

.delay {
  color: red;
}
