#currentcheckin {
  font-weight: bold;
  font-size: 2em;
}

#checkinadmin label {
  width: 6em;
  display: inline-block;
}

#checkinlist {
  border-collapse: collapse;
}

#checkinlist tr td {
  border-bottom: 1px solid black;
  padding: 5px 10px 0 10px;
}

#checkinlist tr th {
  border-bottom: 1px solid black;
  padding: 5px 10px 0 10px;
  width: 10em;
}

#checkinlist tr:nth-child(odd) {
  background-color: #eee;
}

th.title {
  font-size: 2em;
}

#checkinlist tr:last td {
  border-bottom: none;
}
